.container {
  display: grid;
  grid-template-columns: 300px 1fr 1fr 1fr 345px;
  grid-template-rows: var(--height-header) 1fr 1fr;
  gap: 0;

  height: 1114px;

  color: var(--color-common);

  background: var(--color-common-background);
  border-radius: 24px;
}

.content {
  grid-column: span 3 / span 3;
  grid-column-start: 2;
  grid-row: span 2 / span 2;
  grid-row-start: 2;

  background: var(--color-common-background);
}
