:root {
  // status
  --color-status-analysis: #2c79d4;
  --color-status-in-progress: #000;
  --color-status-pending: #b44242;
  --color-status-cancelled: #81898f;
  --color-status-completed: #42b44d;

  // common
  --color-common: #000;
  --color-common-background: #fff;
  --color-common-new-background: #f2f2f2;
}
