:root {
  --font-family-primary: 'Inter', sans-serif;
  --font-family-secondary: 'Onest', sans-serif;

  // line heights
  --line-height-xs: 16px;
  --line-height-s: 20px;
  --line-height-m: 22px;
  --line-height-l: 28px;

  // font sizes
  --font-size-s: 0.75rem; //12px
  --font-size-m: 0.875rem; //14px
  --font-size-l: 1.375rem; //22px
  --font-size-xl: 1.5rem; //24px


  // font weights
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semi_bold: 600;
  --font-weight-bold: 700;


}
