.form {
  input {
    box-sizing: border-box;
    width: 484px;

    color: var(--color-common);

    border: 1px solid var(--color-common);
    border-radius: 8px;

    &:focus {
      color: var(--color-common);
    }
  }

  & label:first-child {
    color: var(--color-common);
  }
}

.subitnBtnWrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
}

.inputLabel {
  color: var(--color-common);
}
