.header {
  grid-column: span 4 / span 4;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  min-width: 160px;
  padding-inline: 24px;
  padding-block: 16px;
  background: var(--color-common-background);
  border: 1px solid var(--color-common-dividing-line);

  font-family: var(--font-family-secondary), serif;
}

.rightItems {
  display: flex;
  align-items: center;
  column-gap: 58px;
}

.headerActions {
  display: flex;
  flex-direction: row;
  column-gap: 26px;
  justify-content: center;
  align-items: center;
}

.iconAction {
  cursor: pointer;
  align-self: flex-end;
}
.notificationIcon {
}

.menuUsers {
  display: flex;
  flex-direction: row;
  column-gap: 8px;
}
